// home-page.component.scss
html, body {
  height: 100% !important;
  scroll-behavior: smooth;
}

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eye-box {
  position: absolute;
  margin: 40px 0px 0px 40px;
  height: 40px;
  width: 40px;
  background: url('src/assets/images/olho.png') no-repeat;
  background-size: contain;
  overflow: show;
}

.gira {
  height: 80px;
  width: 80px;
  margin-left: -21px;
  margin-top: -21px;
  animation: rotating 10s linear infinite;
}

.home-main-text {
  font-weight: bold;
  font-size: 90px;
  font-family: 'SuisseBold';
  line-height: 100px;
}

::selection {
  color: #FFF;
  background: #000;
}

.magic-link {
  font-style: italic;
  border-bottom: solid 4px #000;
  cursor: url('src/assets/images/mouse.png'), pointer;
}

.magic-link::selection {
  background: #000;
  color: #FFF;
}

.magic-link:hover::selection {
  border-bottom: 0 !important;
}

.about-me-show{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  opacity: 1;
  background-color: #FFF;
  animation: 0.5s ease-in-out 0s appear;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.about-me-show .magic-link {
  font-style: italic;
  border-bottom: solid 2px #000;
}

.about-me-hide {
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  background-color: #FFF;
  animation: 0.5s ease-in-out 0s appear alternate-reverse;
}

.about-me-txt {
  font-family: 'SuisseIntlRegular';
  line-height: 36px;
  font-size: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}
.about-me-icon {
  height: 40px;
  margin-right: 10px;
}
.about-me-icon::selection {
  background: transparent;
}
.about-me-topic {
  list-style-type: none;
  margin-bottom: 50px;
  display: inline-flex;
  max-width: 80%;
}

.close-btn {
  position: absolute;
  top: 40px;
  left: 40px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.blue-color:hover { color: #3d84c5; border-bottom: solid 4px #3d84c5; }
.about-me-show .blue-color:hover { color: #3d84c5; border-bottom: solid 2px #3d84c5; }
.blue-color::selection { background-color: #000; border-bottom: 0 !important;}
.blue-color:hover::selection { color: #3d84c5; border-bottom: 0 !important; background-color: #000;}

.green-color:hover { color: #33b88d; border-bottom: solid 4px #33b88d; }
.about-me-show  .green-color:hover { color: #33b88d; border-bottom: solid 2px #33b88d; }
.green-color::selection { background-color: #000; border-bottom: 0 !important; }
.green-color:hover::selection { color: #33b88d; border-bottom: 0 !important; background-color: #000; }

.red-color:hover { color: #ef4e39; border-bottom: solid 4px #ef4e39; }
.about-me-show  .red-color:hover { color: #ef4e39; border-bottom: solid 2px #ef4e39; }
.red-color::selection { background-color: #000; border-bottom: 0 !important;}
.red-color:hover::selection { color: #ef4e39; border-bottom: 0 !important;  background-color: #000; }

.pink-color:hover { color: #f8bcca; border-bottom: solid 4px #f8bcca; }
.about-me-show  .pink-color:hover { color: #f8bcca; border-bottom: solid 2px #f8bcca; }
.pink-color::selection { background-color: #000; border-bottom: 0 !important;}
.pink-color:hover::selection { color: #f8bcca; border-bottom: 0 !important; background-color: #000; }

.yellow-color:hover { color: #ffc906; border-bottom: solid 4px #ffc906; }
.about-me-show  .yellow-color:hover { color: #ffc906; border-bottom: solid 2px #ffc906; }
.yellow-color::selection { background-color: #000; border-bottom: 0 !important;}
.yellow-color:hover::selection { color: #ffc906; border-bottom: 0 !important; background-color: #000; }


@keyframes appear {
  from { opacity: 0; display: none;}
  to { opacity: 1; display: flex;}
}
@keyframes disappear {
  from { opacity: 1; display: flex;}
  to { opacity: 0;}
}

@-webkit-keyframes rotating{
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@media screen and (max-width: 1440px) {
  .home-main-text {
    font-size: 80px;
    line-height: 100px;
  }
  .about-me-txt {
    font-size: 36px;
  }
  .about-me-icon {
    height: 36px;
  }
}

@media screen and (max-width: 1150px) {
  .home-main-text {
    font-size: 70px;
    line-height: 90px;
  }
  .about-me-txt {
    font-size: 32px;
  }
  .about-me-icon {
    height: 32px;
  }
}

@media screen and (max-width: 1000px) {
  .home-main-text {
    font-size: 60px;
    line-height: 80px;
  }
  .about-me-txt {
    font-size: 28px;
  }
  .about-me-icon {
    height: 28px;
  }
}

@media screen and (max-width: 850px) {
  .home-main-text {
    font-size: 50px;
    line-height: 70px;
  }
  .about-me-txt {
    font-size: 24px;
  }
  .about-me-icon {
    height: 24px;
  }
}

@media screen and (max-width: 700px) {
  .home-main-text {
    font-size: 45px;
    line-height: 60px;
  }
  .about-me-txt {
    font-size: 20px;
  }
  .about-me-icon {
    height: 20px;
  }
}

@media screen and (max-width: 550px) {
  .home-main-text {
    font-size: 40px;
    line-height: 60px;
  }
  .about-me-txt {
    font-size: 16px;
  }
  .about-me-icon {
    height: 16px;
  }
}